@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10% 15px 10%;
}

header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li a,
.hero p {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

li a:hover {
    color: lightpink;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding: 5% 10% 8% 10%;
    justify-content: space-between;
    align-items: center;  
}

.hero .left {
    margin-right: 70px;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero img {
    width: 500px;
    height: auto;
}

.hero button {
    background-color: #3882F6;
    padding: 8px 32px;
    margin-top: 15px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    border:none;
    outline: none;
}

.pictures {
    padding-bottom: 5%
}

.pictures h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 2% 0;
}

.pictures .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info img{
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

.quote .container {
    display: flex;
    flex-direction: column;
    max-width: 950px;
    gap: 15px;
    margin: 5% 0;
}

.quote blockquote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 18px;
}

.action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 12%;
    border-radius: 10px;
    padding: 3% 0;
}

.action .left h3 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.action .left p {
    color: #e5e7eb;
    font-size: 18px;
}

.action button {
    color: #f9faf8;
    border: 2px solid #f9faf8;
    background-color: #3882F6;
    padding: 8px 32px;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    font-size: 18px;
    gap: 8px;
}